@font-face {
	font-family: 'roboto_condensedregular';
	src: url('./style/font/RobotoCondensed-Regular-webfont.eot');
	src: url('./style/font/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('./style/font/RobotoCondensed-Regular-webfont.woff') format('woff'),
	url('./style/font/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
	url('./style/font/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
html * {
	font-family: roboto_condensedregular;
  font-weight: 400;
}

html {
	background: #eeeeee;
}

h1 {
	display: inline;
	font-size: 25px;
	margin: 0;
}

h2 {
	display: inline;
	font-size: 16px;
	margin: 0;
}

h3 {
	display: inline-block;
	font-size: 15px;
	width: 75px;
	margin: 0;
}

input {
	background: #fff;
	border: 0;
}

.values {
	display: inline-block;
}

.remainingValues {
  margin: 0;
	margin-left: 0.5em;
	margin-right: 0.1em;
}

.usedValues {
	font-size: 14px;
  color: #666666;
}

/* Loading icon */
@keyframes spin {
	from { transform: rotate(360deg); }
	to { transform: rotate(0deg); }
}


@-webkit-keyframes spin {
	from { -webkit-transform: rotate(360deg); }
	to { -webkit-transform: rotate(0deg); }
}

.spinner {
	animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}

#reloadBtn {
	font-size: 50px;
  right: 8px;
	top: -8px;
  position: absolute;
	cursor: pointer;
}


.beam {
	height: 30px;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

.beamInterval {
	height: 20px;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

.remaining {
	background-color: #41c01a;
	border-right: 2px solid;
	border-color: #FFF;
}

.used {
	background-color: #999999;
}

.days {
	flex-grow: 1;
	background-color: #41c01a;
	margin-right: 1%;
}

.days:last-of-type {
	margin-right: 0px;
}

.passedDays {
	background-color: #999999;
}

.remainingDays {
	background-color: #41c01a;
}

.toDay {
	background-color: #333333;

}

.space {
	margin-top: 30px;
}

.discription {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

.warning {
	text-align: center;
	margin-top: 25px;
}

/*Dropdown menu */

.dropdown-container {
	cursor: pointer;
	background: #fff;
	width: 100%;
}

.dropdown-display {
	width: 100%;
	background: #fff;
	line-height: 30px;
}

.dropdown-list {
	background: #fff;
	line-height: 30px;
	display: none;
}

.dropdown-list.show {
	display: block;
}
